body
  font-family: 'Roboto Condensed', sans-serif
.main-toolbar
 background-color: #FF8A65 !important
 display: flex
 justify-content: space-between
 .account-setting
   padding-right: 15px
 .links
   display: flex
   justify-content: space-between
   width: 40%

.mat-menu-panel
  background: #fff
.mat-menu-item
  color: black
.mat-icon-no-color
  color: black !important

.main-sidenav
  position: absolute
  left: 0
  right: 0
  top: 6%
  bottom: 0
  color: #FF8A65
